<div *ngIf="showFinnancial">
    <div class="imagen-progreso"></div>
    <div class="bloque-derecho">
        <app-nav-bar-user></app-nav-bar-user>
        <div class="padding-12">
            <span class="titulo font-blue">Ingresa la información</span>
            <span class="titulo font-blue">financiera de tu cliente</span>
        </div>
        <span class="along font-purple font-18">Los campos con asterisco son obligatorios (*)</span>
        <form>
            <div class="bloque">
                <span class="font-gray font-18">Ingresos mensuales*</span>
                <span class="font-coment">Salario fijo, ingreso por pensión, arriendos…</span>
                <input type="text" maxlength="15" minlength="1" pattern="[0-9]{1,15}" required name="ingresos" [(ngModel)]="income">
            </div>
            <div class="bloque">
                <span class="font-gray font-18">Gastos mensuales*</span>
                <span class="font-coment">Salida de dinero como arriendo, ocio…</span>
                <input type="text" maxlength="15" pattern="[0-9]{1,15}" required name="egresos" [(ngModel)]="outcome">
            </div> 
            <div class="bloque">
                <span class="font-gray font-18">Activos*</span>
                <span class="font-coment">Total bienes personales como propiedad raíz y vehículo…</span>
                <input type="text" maxlength="15" pattern="[0-9]{1,15}" required name="activos" [(ngModel)]="activos">
            </div>
            <div class="bloque">
                <span class="font-gray font-18">Pasivos*</span>
                <span class="font-coment">Total deudas con el sector financiero o terceros…</span>
                <input type="text" maxlength="15" pattern="[0-9]{1,15}" required name="pasivos" [(ngModel)]="pasivos">
            </div>
            <div class="bloque marginTop-10">
                <span class="font-gray-6b font-24 bold">Recuerda</span>
                <p class="font-gray-6b font-14">Ser claro y utilizar un lenguaje simple a la hora de pedir información financiera a tu cliente.</p>
            </div>
            <input type="submit" value="SIGUIENTE"  (click)="showComponent()" class="boton btn-blue" [ngClass]= "ingresos && egresos && activos && pasivos ? 'btn-blue-active':'btn-blue-inactive'">
        </form>
    </div>
</div>

<app-summary [outcome]="outcome" [income]="income" *ngIf="showSummary "></app-summary>