.whiteText{
    color: white;
}
.blackText{
    color: black;
}
.titulo{
    font-size: 40px;
    width: 100%;
    display: block;
}
.bloque-izquierdo{
	height: 100%;
	width: 20%;
    float: left;
}
.img{
	width: 409px;
  	height: 858px;
  	object-fit: contain;
}
.imagen-banco {
	width: 77px;
	height: 36px;
	border-radius: 6px;
	
	margin-left: 63px;
	position: absolute;
	top: -8px;
	left: 10px;
	padding-top: 16px;
	padding-bottom: 14px;
	padding-left: 11px;
	padding-right: 11px;
}
.font-blue{
    color: #0e5fbf;
    font-family: Helvetica;
}
.padding-12{
    padding-top: 12%;
}
.along{
    width: 100%;
    float: left;
    margin: 3% 0;
}
.font-purple{
    font-family: Helvetica;
    color: #8251cb;
}

.vianca {
    width: 45px;
    height: 45px;
}
.remember {
    width: 33%;
    border-radius: 4px;
    background-color: rgba(0, 134, 216, 0.05);
    padding: 12px 22px;
}
.remember_text {
    margin-left: 56px;
    margin-top: -66px;
}
.margin_remember {
    margin: 2% 0% -1%;
}
form{
    margin-top: 7%;
    display: block;
}
.bloque{
    width: 50%;
    float: left;
    margin-bottom: 3%;
}
.bloque_remember{
    width: 83%;
    float: left;
    margin-bottom: 3%;
}
.font_black{
    font-family: Helvetica;
    color: #2d2d2d;
}


.bloque span{
    width: 100%;
    float: left;
    margin-bottom: 2%;
}
.font-gray{
    font-family: Helvetica;
    color: #4a4a4a;
}
.bold{
    font-weight:bold;
}
.font-coment{
    font-family: Helvetica;
    font-size: 12px !important;
    color: #666666 !important;
}
.bloque input{
    float: left;
    width: 70%;
    border-radius: 2px;
    border: solid 2px #f0f0f0;
    font-family: Helvetica;
    font-size: 22px;
    padding: 2%;
}
.boton{
    margin-bottom: 1%;
    position: absolute;
    bottom: 7%;
    right: 11.5%;
}
.btn-blue {
    width: 254px;
    height: 51px;
    background-color: #2879d9;
    font-family: Helvetica;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    outline: none;
}
.btn-blue-active {
    background-color: #2879d9;
}
.btn-blue-inactive {
    background-color: #dbdbdb;
    cursor: not-allowed;
}
.bloque-derecho{
    width: 70%;
	height: 100%;
	float: left;
	margin-left: 135px;
}
.imagen-progreso{
    height: 100vh;
    float: left;
    width: 40%;
    background: url('../images/group-9.png') no-repeat;
}

.font-gray-6b{
    color: #6b6b6b;
    font-family: Helvetica;
}
.font-14{
    font-size: 14px;
}
.font-16{
    font-size: 16px;
}
.font-18{
    font-size: 18px;
}
.font-24{
    font-size: 24px;
}
.marginTop-10{
    margin-top: 7%;
}