<div *ngIf="showSummary">
  <div class="style-text gray-text font-16 user-title">
      <img src="../../assets/img/person.png">
      <span>   Camila Paz    |    Cerrar sesión</span>
  </div>
    <div class="contain-nav icon-control"></div>
  <div *ngIf="approved" class=" contain-info">
        <div class="align-center">
          <div class="style-text blue-text font-40 margin-left-20-porc margin-right-20-porc margin-top-60">
            La tarjeta de {{username}}
            ha sido aprobada
          </div>
          <div *ngIf="showPurpleCard" class="purple-card margin-top-20"></div>
          <div *ngIf="showBlueCard" class="margin-top-20">
              <img src="../../assets/img/blue-card.png" class="size-card ">
          </div>
          <div *ngIf="showWhiteCard" class="margin-top-20">
            <img src="./../assets/img/white-card.png" class="size-card ">
          </div>
          <div class="style-text gray-text font-24 margin-top-20">
            El cupo aprobado de tu cliente es de
          </div>
          <div class="style-text gray-text font-80 ">
            {{valueApproved}}
          </div>
        </div>
      
        <div class="row margin-top-20 margin-left-10-porc margin-right-60-porc">
          <div class="align-left style-text gray-text font-24 margin-top-20">
              Recuerda 
              <h1 class="align-left style-text gray-text font-16">
              Pedirle a tu cliente confirme en voz alta y con firmeza que ACEPTA el cupo aprobado 
              </h1>
          </div>
      
        </div>
        <div class="margin-top-20">
            <div class="margin-right-20-porc margin-left-10-porc contain-check">
                <label class="align-justify font-14 style-text gray-text container">El cliente acepta de manera telefónica el cupo abrobado.
                  <input type="checkbox">
                  <span class="checkmark" (click)="onSelect()" checked="checked"></span>
                </label>
              </div>
              <div class="contain-buttom">
                <div>
                  <button class="btn-blue" [ngClass]="showButton ? 'btn-blue-active':'btn-blue-inactive'" (click)="finish()" [disabled]="!showButton">SIGUIENTE</button>
                </div>
              </div>
        </div>
  </div>
   
  <div *ngIf="!approved" class=" contain-info">


      <div class="align-center">
          <div class="style-text purple-text font-40 margin-top-20-porc">
              <div>La aprobación de tu cliente no ha <br/>
              sido posible por este medio</div>
            </div>
            <div class="style-text gray-text font-24">
                <p>Recuerda que puedes sugerirle a tu cliente realizar una<br/>
                solicitud directamente en las oficinas del Banco Púrpura</p>
              </div>
        </div>
 
    <div class="row align-center margin-top-60">
      <div>
        <button class="btn-blue" (click)="backHome()">VOLVER AL INICIO</button>
      </div>
    </div>
  </div>
</div>
<app-home *ngIf="showHome"></app-home>

<app-delivery-card *ngIf="showDeliveryCard"></app-delivery-card>
