/* The container */

  .container {
    display: flow-root;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #6b6b6b;
  }
  .bloque-derecho {
    width: 70%;
    height: 100%;
    float: left;
    margin-left: 135px;
  }
  .bloque-derecho-simple {
    width: 70%;
    height: 100%;
    float: left;
    margin-left: 35px;
  }
  .margin-left-135{
    margin-left: 135px !important;
    }
  .bloque-izquierdo{
    height: 100%;
    width: 20%;
    float: left;
  }
  .img{
    width: 409px;
    height: 858px;
    object-fit: contain;
  }
  .imagen-banco {
    width: 77px;
    height: 36px;
    border-radius: 6px;
    
    margin-left: 63px;
    position: absolute;
    top: -8px;
    left: 10px;
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 11px;
    padding-right: 11px;
  }

  /* Hide the browser's default checkbox */
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom checkbox */
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  
  .container:hover input~.checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  
  .container input:checked~.checkmark {
    background-color: #4a90e2;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  
  .container input:checked~.checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  /* Create two equal columns that floats next to each other */
  
  .contain-check {
    float: left;
    width: 60%;
    height: 10%;
    text-align: right;
  }
  
  .contain-buttom {
    float: left;
    width: 20%;
    height: 10%;
    padding-right: 10px;
  }
  
  /* Clear floats after the columns */
  
  .row:after {
    display: table;
    clear: both;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .btn-blue {
    width: 254px;
    height: 51px;
    background-color: #2879d9;
    font-family: Helvetica;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    outline: none;
    font-weight: bold;
  }
  
  .btn-blue-active {
    background-color: #2879d9;
  }
  
  .btn-blue-inactive {
    background-color: #dbdbdb;
    cursor: not-allowed;
  }

  .denegation {
    width: 655px;
    height: 100px;
  }
  .style-text {
    font-family: Helvetica;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.3px;
    text-align: center;
  }
  
  .blue-text {
    color: #0e5fbf;
  }

  .purple-text {
    color: #8251cb;
  }
  
  .gray-text {
    color: #6b6b6b;
  }
  
  .font-40 {
    font-size: 40px;
  }
  
  .font-80 {
    font-size: 80px;
  }
  
  .font-24 {
    font-size: 24px;
  }
  
  .font-16 {
    font-size: 16px;
  }

  .font-14 {
    font-size: 14px;
  }

  .purple-card {
    background: url('../../assets/img/world.png') no-repeat;
    width: 420px;
    height: 280px;
    display: inline-grid;
  }

  .person-ico {
    background: url('../../assets/img/person.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-grid;
  }

  .size-card  {
    width: 420px;
    height: 280px;
  }

  .icon-control {
    background: url('../../assets/img/controlFinish.png') no-repeat;
    width: 420px;
    height: 100vh;
    display: inline-grid;
  }

  .align-center {
    text-align: center;
  }
  
  .align-left {
    text-align: left;
  }

  .align-justify {
      text-align: justify;
  }
  
  .margin-left-20-porc {
    margin-left: 20%;
  }
  
  .margin-left-10-porc {
    margin-left: 10%;
  }

  .margin-right-20-porc {
    margin-right: 20%;
  }

  .margin-right-60-porc {
    margin-right: 60%;
  }
  
  .margin-top-20-porc {
    margin-top: 20%;
  }

  .margin-top-20 {
    margin-top: 20px;
  }

  .margin-top-30 {
    margin-top: 30px;
  }

  .margin-top-60 {
    margin-top: 60px;
  }

  .contain-nav{
    height: 100vh;
    float: left;
  }

  .contain-info{
    width: 70%;
    height: 100vh;
    float: left;;
  }


  .contain-check{
    width: 40%;
    float: left;
  }

  .contain-buttom{
    width: 60%;
    display: contents;
  }
  .denegation {
    width: 655px;
    height: 100px;
    margin-left: 25%;
  }

  .user-title{
    float: right; 
    margin-right: 5%;
  }

  .text-align{
    float: left; 
    margin-left: 60px;
  }

  .button-align{
    float: left; 
    margin-left: 351px;
  }