<div *ngIf="showSummary">
  <div class="bloque-izquierdo">
    <img class="img" src="../../assets/img/progress-banners/barra-de-procesos-summary@3x.png">
  </div>

  <div *ngIf="approved" class="bloque-derecho-simple">
        <div class="margin-left-135">
          <app-nav-bar-user></app-nav-bar-user>
        </div>
        <div class="align-center">
          <div class="style-text blue-text font-40 margin-left-20-porc margin-right-20-porc margin-top-60">
            La tarjeta de {{username}}
            ha sido aprobada
          </div>
          <div *ngIf="showPurpleCard" class="purple-card margin-top-20"></div>
          <div *ngIf="showBlueCard" class="margin-top-20">
              <img src="../../assets/img/blue-card.png" class="size-card ">
          </div>
          <div *ngIf="showWhiteCard" class="margin-top-20">
            <img src="./../assets/img/white-card.png" class="size-card ">
          </div>
          <div class="style-text gray-text font-24 margin-top-20">
            El cupo es de
          </div>
          <div class="style-text gray-text font-80 ">
            {{valueApproved}}
          </div>
        </div>
        <div class="remember bloque_remember">
          <div>
            <img class="vianca" src="assets/img/vianca.png">
          </div>
          <div class="remember_text">
            <p class="font_black font-24 margin_remember">Recuerda</p>
            <p class="font_black font-14">Dále la buena noticia a tu cliente e infórmale el valor de su cupo aprobado. Pregúntale si esta de acuerdo con él.</p>
          </div> 
        </div>
      
        <div class="margin-top-14">
            <div class="margin-right-20-porc margin-left-10-porc contain-check">
                <label class="align-justify font-14 style-text gray-text container" (click)="onSelect()">El cliente esta de acuerdo con el cupo aprobado.
                  <input type="checkbox">
                    <span (click)="onSelect()" class="checkmark" checked="checked"></span>
                </label>
              </div>
              <div class="contain-buttom">
                <div>
                  <button class="btn-blue" [ngClass]="showButton ? 'btn-blue-active':'btn-blue-inactive'" (click)="finish()" [disabled]="!showButton">SIGUIENTE</button>
                </div>
              </div>
        </div>
  </div>
   
  <div *ngIf="!approved">
      
      <div class="bloque-derecho align-center">
          <div>
              <app-nav-bar-user></app-nav-bar-user>
            </div>
          <div class="style-text purple-text font-40 margin-top-20-porc">
              <div class="text-align">La aprobación de tu cliente no ha <br/>
              sido posible por este medio</div>
            </div>
            <div class="style-text gray-text font-24 text-align">
                <p>Recuerda que puedes sugerirle a tu cliente realizar una<br/>
                solicitud directamente en las oficinas del Banco Púrpura</p>
              </div>

              
        </div>
        <div style="float: left; margin-left: 351px;" class="row align-center margin-top-60">
            <div>
              <button class="btn-blue" (click)="backHome()">VOLVER AL INICIO</button>
            </div>
          </div>

  </div>
</div>
<app-home *ngIf="showHome"></app-home>

<app-delivery-card *ngIf="showDeliveryCard"></app-delivery-card>
