#bloquePrincipal {
	margin: 7%;
}

ul.categorychecklist {
    list-style:none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

li.popular-category{list-style: none; display:inline-block; }

.bloqueCheck {
	width: 100%;
	float: left;
	margin-bottom: 3%;
}

.bloqueCheck span {
	width: 100%;
	display: block;
	margin-bottom: 2%;
	font-family: Helvetica;
	font-size: 18px;
	color: #4a4a4a;
}

.bloqueCheck input {
	width: 30%;
	height: 40%;
	border-radius: 2px;
	border: solid 2px #f0f0f0;
	font-family: Helvetica;
	font-size: 20px;
	padding: 2%;
	display: block;
}


.titulo {
	font-family: Helvetica;
	font-size: 40px;
	color: #0e5fbf;
	width: 100%;
	display: block;
}

form {
	margin-top: 7%;
	display: block;
}

.bloqueMail {
	width: 100%;
	float: left;
	margin-bottom: 3%;
}

.bloqueMail span {
	width: 100%;
	display: block;
	margin-bottom: 2%;
	font-family: Helvetica;
	font-size: 18px;
	color: #4a4a4a;
}

.bloqueMail input {
	width: 62.8%;
	border-radius: 2px;
	border: solid 2px #f0f0f0;
	font-family: Helvetica;
	font-size: 20px;
	padding: 2%;
}

.bloque {
	width: 40%;
	float: left;
	margin-bottom: 3%;
}

.bloque span {
	width: 100%;
	display: block;
	margin-bottom: 2%;
	font-family: Helvetica;
	font-size: 18px;
	color: #4a4a4a;
}

.bloque input {
	border-radius: 2px;
	border: solid 2px #f0f0f0;
	font-family: Helvetica;
	font-size: 20px;
	padding: 2%;
}

.bloque select {
	border-radius: 2px;
	border: solid 2px #f0f0f0;
	font-family: Helvetica;
	font-size: 20px;
	padding: 2%;
}


.boton {
	float: right;
	margin-bottom: -2%;
	position: absolute;
	bottom: 7%;
	right: 7%;
}

.btn-blue {
	width: 254px;
	height: 51px;
	background-color: #2879d9;
	font-family: Helvetica;
	font-size: 16px;
	cursor: pointer;
	letter-spacing: -0.1px;
	text-align: center;
	color: #ffffff;
	outline: none;
}

.btn-blue-active {
	background-color: #2879d9;
}

.btn-blue-inactive {
	background-color: #dbdbdb;
	cursor: not-allowed;
}

.alignL {
	margin-left: 90px;
}

.alignR {
	margin-right: 62.8px;
}

.btn-blue {
	width: 254px;
	height: 51px;
	background-color: #2879d9;
	font-family: Helvetica;
	font-size: 16px;
	cursor: pointer;
	letter-spacing: -0.1px;
	text-align: center;
	color: #ffffff;
	outline: none;
}

.btn-blue-active {
	background-color: #2879d9;
}

.btn-blue-inactive {
	background-color: #dbdbdb;
	cursor: not-allowed;
}

.Para-comenzar-ingre {
	width: 655px;
	height: 100px;
	font-family: Helvetica;
	font-size: 40px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.25;
	letter-spacing: -0.3px;
	color: #0e5fbf;
}

.-Label-Desc {
	width: 295px;
	height: 22px;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.1px;
	color: #4a4a4a;
}

.Rectangle {
	width: 294.2px;
	height: 48.1px;
	border-radius: 2px;
	border: solid 2px #f0f0f0;
}