<!--The content below is only a placeholder and can be replaced.-->
<div *ngIf="showBasicInfo">
	<div id="bloquePrincipal" *ngIf="showBasicInfo">
		<span class="titulo">Ingresa la información básica</span> 
		<span class="titulo">de tu cliente</span>
		<form>
			<div class="bloque">
	        	<span>Primer nombre*</span>
	        	<input type="text" maxlength="15" required name="firstName1"  [(ngModel)]="model.firstName1" 
	        	(keyup)="validateFirstName1()">
	        	<span *ngIf="showErrorFirstName1">{{errorMessageFirstName1}}</span>
	    	</div>
	    	<div class="bloque">
	        	<span>Segundo nombre</span>
	        	<input type="text" maxlength="15" required name="firstName2" [(ngModel)]="model.firstName2"
	        	(keyup)="validateFirstName2()">
	        	<span *ngIf="showErrorFirstName2">{{errorMessageFirstName2}}</span>
	    	</div> 
	    	<div class="bloque">
	        	<span>Primer Apellido*</span>
	        	<input type="text" maxlength="15" required name="lastName1"  [(ngModel)]="model.lastName1"
	        	(keyup)="validateLastName1()">
	        	<span *ngIf="showErrorLastName1">{{errorMessageLastName1}}</span>
	    	</div>
	    	<div class="bloque">
	        	<span>Segundo Apellido</span>
	        	<input type="text" maxlength="15" required name="lastName2" [(ngModel)]="model.lastName2"
	        	(keyup)="validateLastName2()">
	        	<span *ngIf="showErrorLastName2">{{errorMessageLastName2}}</span>
	    	</div>
    	
	    	<div class="bloque">
	        	<span>Nº de Cédula*</span>
	        	<input type="number" maxlength="13" required name="idNumber" [(ngModel)]="model.idNumber"
	        	(keyup)="validateIdNumber()">
		       	<span *ngIf="showErrorIdNumber">{{errorMessageIdNumber}}</span>
	    	</div>
	    	<div class="bloque">
	        	<span>Fecha de nacimiento*</span>
	        	<select name="birthDay" [(ngModel)]="model.birthDay" (change)="validateBirthDate()">
					  <option name="birthDayS" *ngFor="let day of daysList" [ngValue]="day">{{day}}</option>
				</select>
				<select name="birthMonth" [(ngModel)]="model.birthMonth" (change)="validateBirthDate()">
					  <option name="birthDayS" *ngFor="let month of monthList" [ngValue]="month">{{month}}</option>
				</select>
				<select name="birthYear" [(ngModel)]="model.birthYear" (change)="validateBirthDate()">
					  <option name="birthDayS" *ngFor="let year of yearList" [ngValue]="year">{{year}}</option>
				</select>
				<span *ngIf="showErrorBirthDate">{{errorMessageBirthDate}}</span>
	    	</div>
	    	<div class="bloqueMail">
	        	<span>Correo Electrónico*</span>
	        	<input type="email" maxlength="25" required name="email" [(ngModel)]="model.email"
	        	(keyup)="validateEmail()">
			    <span *ngIf="showErrorEmail">{{errorMessageEmail}}</span>
	    	</div>
	    	<div class="bloque">
	    		<span>Número de telefono*</span>
	        	<input type="checkbox" [checked]="checkNFijo" (change)="validateChangePhone()"> Fijo
	      		<input type="checkbox" [checked]="!checkNFijo" (change)="validateChangePhone()"> Celular
	      		<input type="number" maxlength="15" required name="numberT" [(ngModel)]="model.phoneNumber"
	      		(keyup)="validatePhoneNumber()">
			    <span *ngIf="showErrorPhoneNumber">{{errorMessagePhoneNumber}}</span>
	    	</div>
	    	<div class="bloque">
	    		{{checkRequiredValues()}}
				<button class="btn-blue" [ngClass]="checkRequiredValues() ? 'btn-blue-active':'btn-blue-inactive'" (click)="finish()" [disabled]="!checkRequiredValues()">SIGUIENTE</button>
			</div>
		</form>
	</div>
</div>

<app-informacion-financiera *ngIf="showFinancialInfo"></app-informacion-financiera>


