<!--The content below is only a placeholder and can be replaced.-->
<div class="alignL" *ngIf="showBasicInfo">
	<h1 class="Para-comenzar-ingre">Para comenzar, ingresa      
		tu información personal</h1>
	<div class="container">
		<form id="usrform">
			<table>
				<tr class="-Label-Desc">
					<td><label> ¿Cuál es tu primer nombre?* </label><br> <input
						class="Rectangle -Label-Desc" type="text" name="firstName1" required [(ngModel)] = "model.firstName1" 
						(keypress)="model.firstName1 = checkS(model.firstName1)">
						
					<td><label>¿Cuál es tu segundo nombre?</label><br> <input
						class="Rectangle -Label-Desc" type="text" name="firstName2" required [(ngModel)] = "model.firstName2" 
						(keypress)="model.firstName2 = checkS(model.firstName2)"></td>
				</tr>
				<tr class="-Label-Desc">
					<td><label>¿Cuál es tu primer apellido?*</label><br> <input
						class="Rectangle -Label-Desc" type="text" name="lastName1" required [(ngModel)] = "model.lastName1"
						(keypress)="model.lastName1 = checkS(model.lastName1)"></td>
					<td><label>¿Cuál es tu segundo apellido?</label><br> <input
						class="Rectangle -Label-Desc" type="text" name="lastName2" required [(ngModel)] = "model.lastName2"
						(keypress)="model.lastName2 = checkS(model.lastName2)"></td>
				</tr>
			</table>
			<br>  <button type="submit" class="btn-blue" (click)="click()">Continuar</button>
		</form>
	</div>
</div>

<app-informacion-financiera *ngIf="showFinancialInfo"></app-informacion-financiera>


