#bloquePrincipal {
	margin: 7%;
}

.bloque-izquierdo{
	height: 100%;
	width: 20%;
    float: left;
}

.img{
	width: 409px;
  	height: 858px;
  	object-fit: contain;
}

.titulo {
	font-family: Helvetica;
	font-size: 40px;
	color: #0e5fbf;
	width: 100%;
	display: block;
}

.asterisco{
	width: 367px;
	height: 24px;
	font-family: Helvetica;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: -0.1px;
	color: #8251cb;
	margin-bottom: 34px;
}

.bloque-derecho {
	width: 70%;
	height: 100%;
	float: left;
	margin-left: 135px;
}

.bloque{
	width: 50%;
    float: left;
    margin-bottom: 1%;
}
.bloque span{
    float: left;
    width: 100%;
    margin-bottom: 2%;
    font-family: Helvetica;
}

.span-mail{
    float: left;
    width: 100%;
    margin-bottom: 1%;
    font-family: Helvetica;
}

.bloque input{
    float: left;
    font-family: Helvetica;
    font-size: 19px;
    padding: 2%;
}

.bloqueMail{
    float: left;
    margin-bottom: 3%;
}
.bloqueMail span{
    float: left;
    margin-bottom: 2%;
    font-family: Helvetica;
}
.bloqueMail input{
    float: left;
    font-family: Helvetica;
    font-size: 22px;
    padding: 2%;
}


.inputBasico {
	float: left;
    border-radius: 2px;
    font-family: Helvetica;
    font-size: 19px;
    padding: 2%;
  	border: solid 2px #f0f0f0;
  	outline: none;
}

.style-radio{
	float: left;
	padding-right: 45px;
}

.size-mail{
	width: 191.5%;
}

.float-none{
	float: none;
}

.bloqueGrande{
	float: left;
	width: 90%;
	margin-bottom: 10px;
}

.inputBasicoError {
	float: left;
    border-radius: 2px;
    font-family: Helvetica;
    font-size: 19px;
    padding: 2%;
	border: solid 1px #ff3f34;
	outline: none;
}

.message-error {
	font-family: Helvetica;
	font-size: 10px;
	margin-top: 0px;
	letter-spacing: -0.1px;
	text-align: justify;
	color: #ff3b30;
	width: 72%
}

.text-align {
	text-align: right !important;
}

.padding-1{
	padding: 1%;
}

.position-tel{
	margin-left: 41px;
    width: 42%;
}

.imagen-banco {
	width: 77px;
	height: 36px;
	border-radius: 6px;
	
	margin-left: 63px;
	position: absolute;
	top: -8px;
	left: 10px;
	padding-top: 16px;
	padding-bottom: 14px;
	padding-left: 11px;
	padding-right: 11px;
}

.semi-mask{
	background-color: #8251cb;
	box-shadow: 5px 10px 30px 0 rgba(41, 26, 204, 0.12);
}

.BANCO {
	font-size: 18px;
	font-weight: 300;
	line-height: 1;
	
	width: 77px;
	height: 36px;
	font-family: Helvetica;
	
	font-style: normal;
	font-stretch: normal;
	letter-spacing: -0.1px;
	color: #ffffff;
}

.PURPURA {
	width: 77px;
	height: 36px;
	font-family: Helvetica;
	font-size: 15px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: -0.1px;
	color: #ffffff;
}

.span-size{
	width: 196%;
}

.btn-blue {
    width: 254px;
    height: 51px;
    background-color: #2879d9;
    font-family: Helvetica;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: -0.1px;
    text-align: center;
    color: #ffffff;
    outline: none;
}
.btn-blue-active {
    background-color: #2879d9;
}
.btn-blue-inactive {
    background-color: #dbdbdb;
    cursor: not-allowed;
}


.position-btn{
	float: right;
    margin-right: 35%;
    margin-top: 20px;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -9px;
    left: -9px;
    position: relative;
    background-color: #8251cb;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 7px solid white;
}
