<div *ngIf="!finish">
    <div class="bloque-izquierdo">
        <img src="../../assets/img/progress-score@3x.png" class="img">
    </div>
    <div class="contain-login-detail margin-top--8 ">
        <app-nav-bar-user></app-nav-bar-user>
      <div class="style-text gray-text font-24 margin-top-3-porc">
          Preguntale a tu cliente: 
      </div>
      <div class="style-text blue-text font-40 margin-top-3-porc">
          ¿Qué le pareció este proceso?
    
        </div>
        <div class="style-text gray-dark-text font-18 margin-top-3-porc">
            Pídele que califique de 1 a 5 dónde 1 es muy malo y 5 excelente.
          </div>
        <div class="margin-top-3-porc">
            <img src={{showStarOne}} class="position-star" (click)="selectStar(1)">
            <img src={{showStarTwo}} class="position-star" (click)="selectStar(2)">
            <img src={{showStarThree}} class="position-star" (click)="selectStar(3)">
            <img src={{showStarFour}} class="position-star" (click)="selectStar(4)">
            <img src={{showStarFive}} class="position-star" (click)="selectStar(5)">
        </div>
        <div class="style-text gray-dark-text font-18 margin-top-10-porc">
            Deja los comentarios de tu cliente si así lo desea
          </div>
          <textarea class="text-area style-text gray-dark-text font-16"></textarea>
          <div class="margin-top-3-porc float-right">
            <button class="btn-blue"  [ngClass]="selectStarYet ? 'btn-blue-active':'btn-blue-inactive'"  [disabled]="!selectStarYet" (click)="finishProccess()">ENVIAR  Y FINALIZAR</button>
          </div>
      </div>
</div>
<app-home *ngIf="finish"></app-home>