<div *ngIf="showDeliveryCard">
  <div class="bloque-izquierdo">
      <img class="img" src="../../assets/img/progress-banners/barra-de-procesos-deliverycard@3x.png">
  </div>
  <div class="bloque-derecho">
    <app-nav-bar-user [user]="user"></app-nav-bar-user>
    <span class="font-40 font-blue h1Center">¿Dónde desea recibir la Tarjeta de <br> Crédito tu cliente?</span>
    <div class="choose-both">
      <div class="choose" [ngClass]= "showHome ? 'home-active':'home-inactive'" (click)="onClickHome()"></div>
      <div class="choose" [ngClass]= "showOffice ? 'office-active':'office-inactive'" (click)="onClickOffice()"></div>
    </div>
    <div class="remember bloque_remember">
      <div>
        <img class="vianca" src="assets/img/vianca.png">
      </div> 
      <div class="remember_text font_black font-helvetica">
        <p class="font_black font-24 margin_remember">Recuerda</p>
        <p class="font_black font-14 font-justify">Pídele un lugar dónde desea recibir su Tarjeta de Crédito y cuéntale que el envío es gratuito y que en 5 días hábiles podrá hacer uso de su Tarjeta de Crédito. Indícale a tu cliente que las intrucciones para la activación las podrá encontrar en el estiquer adherido a la tarjeta..</p>
      </div>    
    </div>
    <!--Delivery Home-->
    <div class="block-85" *ngIf="showHome">
      <span class="along font-purple font-18">Todos los campos son obligatorios</span>
      <form>
        <div class="half-block">
          <label class="font-gray-label font-helvetica font-18 complete-label">Ciudad</label>
          <select class="half-input select-out-arrows" name="city" [(ngModel)]="city" selected="false">
              <option value="{{c}}" *ngFor="let c of cities">{{c}}</option>
          </select>
        </div>
        <div class="half-block">
            <label class="font-gray-label font-helvetica font-18 complete-label">Barrio</label>
            <input class="half-input" name="neighborhood" [(ngModel)]="neighborhood">
        </div>
        <div class="complete-block">
          <label style="margin-bottom: 1%;" class="font-gray-label font-helvetica font-18 complete-label">Dirección</label>
          <div class="complete-block"> 
            <select class="appearance-input select-out-arrows width18 marginRight2" name="listAddress1" [(ngModel)]="listAddress1" (ngModelChange)="generateListAdds2()">
              <option value="{{la.name}}+{{la.type}}" *ngFor="let la of listAdds1">{{la.name}}</option>
            </select>
            <input class="appearance-input width12-5 marginRight2" name="address1" [(ngModel)]="address1">
            <select class="appearance-input select-out-arrows width18 marginRight2" name="listAddress2" [(ngModel)]="listAddress2">
              <option value="{{la.name}}" *ngFor="let la of listAdds2">{{la.name}}</option>
            </select>
            <input class="appearance-input width28-5 marginRight2" name="address2" [(ngModel)]="address2">
          </div>
          <span class="font-example font-16">Ejemplo: Carrera 13 Calle 32-13</span>
        </div>
      </form>
    </div>
    <!--Delivery Office-->
    <div class="block-85" *ngIf="showOffice">
      <span class="font-18 font-helvetica font-gray-label complete-block marginTop5andBottom2">Selecciona la ciudad dónde el cliente desea recibir la Tarjeta de Crédito</span>
      <div class="half-block marginTop5andBottom2">
        <label class="font-gray-label font-helvetica font-18 complete-label">Ciudad</label>
          <select class="half-input select-out-arrows" name="cityOffice" [(ngModel)]="cityOffice" (ngModelChange)="generateOffices()">
              <option value="{{c}}" *ngFor="let c of cities">{{c}}</option>
          </select>  
      </div>
      <div class="half-block marginTop5andBottom2">
        <label class="font-gray-label font-helvetica font-18 complete-label">Oficina</label>
          <select class="half-input select-out-arrows" name="office" [(ngModel)]="office" (ngModelChange)="generateNameAndAddress()">
              <option value="{{o.nameOffice}}+{{o.address}}" *ngFor="let o of offices">{{o.nameOffice}}</option>
          </select>
      </div>
      <div class="complete-block height120">
        <span class="font-24 font-gray font-helvetica font-bold complete-block">{{nameOffice}}</span>
        <span class="font-24 font-gray font-helvetica complete-block">{{addressOffice}}</span>
      </div>
    </div>
    <!--Boton-->
    <span>{{cities}}</span>
    <input type="submit" value="SIGUIENTE"  (click)="showComponent()" class="boton btn-blue" [ngClass]= "showHome ? (city && neighborhood && listAddress1 && address1 && listAddress2 && address2 ? 'btn-blue-active':'btn-blue-inactive'): (cityOffice && office ? 'btn-blue-active':'btn-blue-inactive')" [disabled]="(showHome && (!city || !neighborhood || !listAddress1 || !address1 || !listAddress2 || !address2)) || (showOffice && (!cityOffice || !office))">
  </div>
</div>

<app-score-app [user]="user" *ngIf="!showDeliveryCard"></app-score-app>