<div *ngIf="showHome">
  <div class="image_top">
    <img src="assets/arriba.png">
  </div>
  <div class="image_cards">
    <img src="assets/cards2.png" class="cards">
  </div>
  <div class="body_text">
    <p class="text main_text">No pierdas más clientes</p>
    <p class="text second_text">Solicita de manera fácil y rápida <br/> una tarjeta de crédito en línea <br/> para tu cliente</p>
    <p class="text second_text size_24 height_remember">Recuerda</p>
    <p class="text second_text size_14">Por este medio sólo podrás solicitar las tres tarjetas <B>White, Cian y  <br/>Purpura</B> 
    para tu cliente, desde 10.000.000 hasta 30.000.000.<br/><br/>
    No olvides recordarle a tu cliente que la llamada <B>será grabada y <br/>monitoreada</B>
    para efectos de cálidad del servicio.<br/><br/>
    Ten en cuenta que las tarjetas solo podrán generarse a clientes con<br/>
    productos del Banco Púrpura.
    </p>
  </div>
  <div class="row align-center margin-top-60">
    <div>
      <button class="btn-blue" (click)="showComponent()">INICIAR PROCESO DE SOLICITUD</button>
    </div>
  </div>

</div>
<app-basicinfo *ngIf="showBasicInfo"></app-basicinfo>
